<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-sm">
      <h2 class="text-2xl font-bold mb-6 text-center text-gray-800">Login</h2>
      <form>
        <div class="mb-4">
          <label for="email" class="block text-gray-700">Email</label>
          <input type="email" id="email" [(ngModel)]="loginObj.emailId" name="emailId" class="w-full mt-1 p-2 border border-gray-300 rounded-md" placeholder="Your email" required>
        </div>
        <div class="mb-6">
          <label for="password" class="block text-gray-700">Password</label>
          <input type="password" id="password" [(ngModel)]="loginObj.password" name="password" class="w-full mt-1 p-2 border border-gray-300 rounded-md" placeholder="Your password" required>
        </div>
        <button type="submit" class="w-full py-2 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500" (click)="onLogin()">Login</button>
      </form>
    </div>
  </div>
  