<nav class="bg-blue-500 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <a href="#" class="text-red-800 font-bold text-xl">
        DonorLink
      </a>
      <ul class="flex space-x-4">
        <li>
          <a [routerLink]="['/dashboard']" class="text-white hover:text-gray-300">My Donor</a>
        </li>
        <li>
          <a [routerLink]="['/recipientdonor']" class="text-white hover:text-gray-300">Recipient</a>
        </li>
        <li>
          <a [routerLink]="['/myrecipientblood']" class="text-white hover:text-gray-300">My Request</a>
        </li>
        <li>
          <a href="#" class=" bg-blue-800 text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>